@import "tailwindcss";

/* Tell Tailwind v4 about your custom colors */
@theme {
  --color-primary: rgb(var(--tw-color-primary));
  --color-secondary: rgb(var(--tw-color-secondary));
}

:root {
  --tw-color-primary: 255 0 0;
  --tw-color-secondary: 255 0 0;
}